:root {
    --primary-bg: #1e272e;
    --secondary-bg: #34495e;
    --text-color: #ecf0f1;
    --button-hover: #2c3e50;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
    color: var(--text-color);
}

header {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
    
}

.input-container,
.output-container {
    width: calc(45% - 20px);
    height: 70vh;
    padding: 20px;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputText {
    width: 100%;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2% 2%;
}

.crypto-button {
    flex: 2;
    background-color: var(--primary-bg);
    color: var(--text-color);
    padding: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-size: 24px;

}

.crypto-button:hover {
    background-color: var(--button-hover);
}

.output-container {
    width: calc(45% - 20px);
    height: 70vh;
    padding: 20px;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#outputText {
    margin-top: 10px;
}

#copiarBotao {
    display: none;
    background-color: var(--primary-bg);
    color: var(--text-color);
    padding: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 8px;
    font-size: 24px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    background-color: var(--secondary-bg);
    padding: 10px;
}

/* Media queries para tablets */
/* Media queries para smartphones*/
/* feature a ser adicionad futuramente :( 

